<!-- CodeMirror -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/codemirror.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/codemirror.css" />

<!-- Firepad -->
<link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.1.0/firepad.css" />
  <script src="https://cdn.firebase.com/libs/firepad/1.1.0/firepad.min.js"></script>

<!-- Video -->
  <script src="videoChatTokBox.js"></script>



<style>
  html { height: 100%; }
  body { margin: 0; height: 100%; }
  /* Height / width / positioning can be customized for your use case.
     For demo purposes, we make the user list 175px and firepad fill the rest of the page. */
  #userlist {
    position: absolute; left: 0; top: 0; bottom: 0; height: auto;
    width: 175px;
  }
  #firepad {
    position: absolute; left: 175px; top: 0; bottom: 0; right: 0; height: auto;
  }
</style>
</head>
<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal', 'yellow', 'orange'] %>

<div class="pusher">
<div class="ui grid">

  <!-- Left Sidebar -->
  <div class="one wide column sticky top">
    <%= render 'left_sidebar' %>
  </div>

  <!-- Detail Column -->
  <div class="four wide column main container">
    <!-- User Section -->
    <div class="ui <%= color.sample %> segment" style="margin-top: 100px; margin-bottom: 40px;position:fixed;">
      <h1 style="text-align:center;">Video</h1><hr />
        <div id="opentokVideos"></div>
    </div>
  </div>

  <!-- Recent Activity & Progress Tracker Column -->
  <div class="ten wide column">
    <div class="ui <%= color.sample %> segment" style="margin-top: 100px; margin-bottom: 40px;">
					<div id="userlist"></div>
				  <div id="firepad"></div>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>



<script>
  $(function() { 
    function init() {
    //// Initialize Firebase.
    var firepadRef = getExampleRef();
    // TODO: Replace above line with:
    // var firepadRef = new Firebase('<YOUR FIREBASE URL>');
    //// Create CodeMirror (with lineWrapping on).
    var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true });
    // Create a random ID to use as our user ID (we must give this to firepad and FirepadUserList).
    var userId = Math.floor(Math.random() * 9999999999).toString();
    //// Create Firepad (with rich text features and our desired userId).
    var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
        { richTextToolbar: true, richTextShortcuts: true, userId: userId});
    //// Create FirepadUserList (with our desired userId).
    var firepadUserList = FirepadUserList.fromDiv(firepadRef.child('users'),
        document.getElementById('userlist'), userId);
    //// Initialize contents.
    firepad.on('ready', function() {
      if (firepad.isHistoryEmpty()) {
        firepad.setText('Check out the user list to the left!');
      }
    });
  }
  // Helper to get hash from end of URL or generate a random one.
  function getExampleRef() {
    var ref = new Firebase('https://firepad.firebaseio-demo.com');
    var hash = window.location.hash.replace(/#/g, '');
    if (hash) {
      ref = ref.child(hash);
    } else {
      ref = ref.push(); // generate unique location.
      window.location = window.location + '#' + ref.key(); // add it as a hash to the URL.
    }
    if (typeof console !== 'undefined')
      console.log('Firebase data: ', ref.toString());
    return ref;
  }
 //  a = new TBStart("1127", "opentokVideos");
	// a.startVideo();
  init(); 
}
</script>

