<!-- index view for courses the user is enrolled in -->
<%= render :partial => 'dashboard/left_sidebar' %>
<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>  
<div class="pusher">
  <div class="ui grid">
    <div class="three wide column sticky top"></div>
      <div class="ten wide column main container">
        <div class="ui <%= color.sample %> segment" style="margin-top: 90px; margin-bottom: 40px;">
         <h2 style="text-align: center;">New Schedule</h2> 
            



        </div>
      </div>



  <div class="three wide column sticky top"></div>
    <%= render :partial => 'dashboard/right_sidebar' %>
  </div>

</div>


