<!-- testing markdown to html view rendering -->

<%= render :partial => 'dashboard/left_sidebar' %>

<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>

<div class="ui three column grid">
  <div class="three wide column"></div>
    <div class="eight wide column">
      <div class="ui <%= color.sample %> segment" style="margin-top: 20px; margin-bottom: 20px;">
      <%= @markdown_to_html %>
    </div>
  </div>

  <div class="four wide column"></div>