<p id="notice"><%= notice %></p>

<h2 style="text-align:center;">
  <%= @chapter.title %>
</h2>
<hr />
<p>
  <%= @chapter.content.html_safe %>
</p>
<p>
<% if (current_user.completed?(@chapter) && current_user.is_student?) || current_user.is_instructor? || current_user.is_admin? %>	
  		<% else %>   
       <%= button_to "Mark Completed", :controller => 'chapters', :id => @chapter.id, :action => "student_progress" %>
   		<% end %>
   		</p>