<p id="notice"><%= notice %></p>

<h2 style="text-align:center;">
  <%= @chapter.title %>
</h2>
<hr />
<p>
  <%= @chapter.content.html_safe %>

  <% if current_user.chapters.include?(@chapter) %>
  <% else %> 
   <%= button_to "Mark Completed", :controller => 'chapters', :id => @chapter.id, :action => "student_progress" %>
  <%end %>
</p>