<%= render :partial => 'dashboard/left_sidebar' %>
<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>
<div class="ui three column grid">
 <div class="two wide column"></div>
   <div class="ten wide column">
     <div class="ui segment" style="margin-top: 20px; margin-bottom: 20px;">
			<% @chapters.each do |chapter| %>
				<p><%= chapter.content.truncate(200).html_safe %></p>
				<%= link_to 'Start', course_lesson_chapter_path(@course, @lesson, chapter), class: "ui button" %>
				<hr />
			<% end %>     
   </div>
 </div>

 <div class="four wide column" id="chat">
 	<%= render :partial => 'dashboard/chat' %>
 </div>
 </div>