<%= render :partial => 'dashboard/left_sidebar' %>
<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>
<div class="ui three column grid">
 <div class="two wide column"></div>
   <div class="ten wide column">
     <div class="ui segment" style="margin-top: 20px; margin-bottom: 20px;">
     <%= render :partial => 'show' %>
   </div>
 </div>

 <div class="four wide column" id="chat">
 	<%= render 'dashboard/chat' %>
 </div>

 <pre class="_cssdeck_embed" data-pane="output" data-user="" data-href="redsddq0" data-version="0"></pre><script async src="http://cssdeck.com/assets/js/embed.js"></script>
