<%= render :partial => 'dashboard/left_sidebar' %>
<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>
<div class="ui three column grid">
 <div class="four wide column"></div>
   <div class="eight wide column">
     <div class="ui segment" style="margin-top: 20px; margin-bottom: 20px;">
     <%= render :partial => 'show' %>
   </div>
 </div>

 <div class="four wide column"></div>
