<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>  
<div class="pusher">
  <div class="ui grid">
    <div class="three wide column sticky top">
      <%= render :partial => 'dashboard/left_sidebar' %>
    </div>
      <div class="nine wide column main container">
      <div class="ui <%= color.sample %> segment" style="margin-top: 90px; margin-bottom: 40px;">
      <h1 style="text-align: center;">Process Payment</h1> 

      <div class="ui two column grid" style="margin-bottom:30px;">

<div class="column">
        <div class="ui hidden divider"></div>
        <div class="ui vertical steps" style="float:right;">
          <a class="completed step">
        <i class="truck icon"></i>
            <div class="content">
              <div class="title">Schedule Booking</div>
              <div class="description">Booking Form</div>
            </div>
              </a>
              <a class="completed step">
            <i class="payment icon"></i>
            <div class="content">
              <div class="title">Process Payment</div>
              <div class="description">Pay with Stripe</div>
            </div>
              </a>
              <a class="active step">
            <i class="info icon"></i>
            <div class="content">
              <div class="title">Confirmation</div>
              <div class="description">Transaction Complete</div>
        </div>
          </a>
        </div>
  </div>



<div class="column">
  <br>
  <br>
  <br>
        <h3>Payment Approved. Please check your e-mail for your receipt.</h3>

      </div>


          </div>
        </div>
      </div>
    </div>
  </div>
